/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: none;
	border: 2px solid $color__link;
	border-radius: 3px;
	color: $color__link;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: .65rem 2.25rem;

	@include for-tablet {
		font-size: 1.25rem;
		font-weight: 500;
	}

	&:hover,
	&:active,
	&:focus {
		border-color: $color__link;
		color: $color__link;
		filter: brightness(80%);
	}
}

#new-quote-button {
	margin-top: 30px;
	text-align: center;
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background: none;
	border: 2px solid $color__link;
	border-radius: 3px;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: .65rem 2.25rem;

	&:focus {
		color: $color__link;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
