/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $color__link;
		filter: brightness(80%);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
	margin-left: 2px;
	
	ul {
		list-style: none;
		margin-left: 10px;
		padding: 0;

		a {
			display: block;
			text-decoration: none;
		}
	}
}

/* Small menu. */

@media screen and (min-width: 768px) {
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
}

.menu-nav-container ul {
	width: 260px;
	display: flex;
	justify-content: space-between;
}

.site-info {
	margin-left: 10px;
}