/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/



/* Home */

.main-logo {
  width: 300px;
  height: auto;
  margin-top: 60px;
  margin-left: 15px;

  @include for-tablet {
     width: 500px;
  }

  @include for-desktop {
     width: 700px;
  }
}

.site-branding {
   @include for-desktop {
      text-align: center;
   }
}

/* All Archives Page */

/* Submit a Quote Page */ 
